# Contents

> Import libraries and data

> Data check: shape, head, missing data, dupes

> Data types

> Descriptive statistics

# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Import data

In [4]:
path=r'/Users/vanessalimsingh/Achievement 6 June 2024'

In [13]:
df=pd.read_csv(os.path.join(path,'02 Data','Original Data','WHO_Respiratory_MortalityRate.csv'))

In [40]:
df.shape

(309078, 12)

In [14]:
df.head(
)

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age_unknown,[Unknown],0.0,NaN,NaN,NaN
1,EU,Europe,ALB,Albania,1987,Male,Age_all,[All],311.0,3.227480,37.464405,19.631360
2,EU,Europe,ALB,Albania,1987,Male,Age00,[0],5.0,0.376506,NaN,11.820331
3,EU,Europe,ALB,Albania,1987,Male,Age01_04,[1-4],7.0,1.112878,NaN,4.691689
4,EU,Europe,ALB,Albania,1987,Male,Age05_09,[5-9],0.0,0.000000,NaN,0.000000

In [28]:
df.tail()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
309073,AS,Asia,SAU,Saudi Arabia,2021,Female,Age65_69,[65-69],57.0,2.169775,NaN,40.006176
309074,AS,Asia,SAU,Saudi Arabia,2021,Female,Age70_74,[70-74],82.0,2.718833,NaN,91.586342
309075,AS,Asia,SAU,Saudi Arabia,2021,Female,Age75_79,[75-79],91.0,2.504817,NaN,143.149284
309076,AS,Asia,SAU,Saudi Arabia,2021,Female,Age80_84,[80-84],88.0,2.571596,NaN,227.337312
309077,AS,Asia,SAU,Saudi Arabia,2021,Female,Age85_over,[85+],131.0,2.611122,NaN,374.831898

### checking for missing data in columns

In [15]:
df.isnull().sum()

Region Code                                                         0
Region Name                                                         0
Country Code                                                        0
Country Name                                                        0
Year                                                                0
Sex                                                                 0
Age group code                                                      0
Age Group                                                           0
Number                                                           1665
Percentage of cause-specific deaths out of total deaths          9576
Age-standardized death rate per 100 000 standard population    294762
Death rate per 100 000 population                               25332
dtype: int64

In [34]:
number_null=df[df['Number'].isnull()]

In [35]:
number_null.to_csv(os.path.join(path, '02 Data','Original Data', 'number_null.csv'))

In [38]:
#Exporting data to check missing values
percentage_null=df[df['Percentage of cause-specific deaths out of total deaths'].isnull()]

In [39]:
#Exporting data to check missing values
percentage_null.to_csv(os.path.join(path, '02 Data','Original Data', 'percentage_null.csv'))

### checking for dupes

In [20]:
#checking for duplicate rows
df.duplicated().any()

False

In [21]:
df.dtypes

Region Code                                                     object
Region Name                                                     object
Country Code                                                    object
Country Name                                                    object
Year                                                             int64
Sex                                                             object
Age group code                                                  object
Age Group                                                       object
Number                                                         float64
Percentage of cause-specific deaths out of total deaths        float64
Age-standardized death rate per 100 000 standard population    float64
Death rate per 100 000 population                              float64
dtype: object

In [22]:
df['Region Code'].unique()

array(['EU', 'NAC', 'CSA', 'AS', 'OA', 'AF'], dtype=object)

In [23]:
df['Region Name'].unique()

array(['Europe', 'North America and the Caribbean',
       'Central and South America', 'Asia', 'Oceania', 'Africa'],
      dtype=object)

In [25]:
df['Country Code'].unique()

array(['ALB', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR',
       'BRB', 'BLR', 'BEL', 'BLZ', 'BIH', 'BRA', 'BRN', 'BGR', 'CPV',
       'CAN', 'CHL', 'COL', 'CRI', 'HRV', 'CUB', 'CYP', 'CZE', 'DNK',
       'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'EST', 'FJI', 'FIN', 'FRA',
       'GUF', 'GEO', 'DEU', 'GRC', 'GRD', 'GLP', 'GTM', 'GUY', 'HKG',
       'HUN', 'ISL', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN',
       'KAZ', 'KOR', 'KWT', 'KGZ', 'LVA', 'LTU', 'LUX', 'MDV', 'MLT',
       'MTQ', 'MUS', 'MYT', 'MEX', 'MDA', 'MNG', 'MNE', 'NLD', 'NZL',
       'NIC', 'MKD', 'NOR', 'PAN', 'PRY', 'PER', 'PHL', 'POL', 'PRT',
       'PRI', 'REU', 'ROU', 'RUS', 'KNA', 'LCA', 'VCT', 'STP', 'SRB',
       'SYC', 'SGP', 'SVK', 'SVN', 'ZAF', 'ESP', 'LKA', 'SUR', 'SWE',
       'CHE', 'SYR', 'TJK', 'THA', 'TTO', 'TUR', 'TKM', 'UKR', 'GBR',
       'USA', 'URY', 'UZB', 'VEN', 'JOR', 'ARE', 'LBN', 'MYS', 'OMN',
       'QAT', 'SAU'], dtype=object)

In [27]:
df.describe()

,Year,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
count,309078.000000,307413.000000,299502.000000,14316.000000,283746.000000
mean,1993.194524,502.592603,2.960624,29.029961,104.666914
std,18.287136,3377.551746,3.690776,18.911698,267.441561
min,1950.000000,0.000000,0.000000,0.000000,0.000000
25%,1980.000000,1.000000,0.905873,16.379664,0.986812
50%,1996.000000,14.000000,2.175941,24.548230,8.048291
75%,2008.000000,114.000000,4.036242,36.186668,64.897118
max,2022.000000,222951.000000,100.000000,180.404481,10000.000000